body{
margin:0;
font-family:Arial;
background:#f4f4f4;
text-align:center;
}

/* HEADER */

.header{
background:white;
border-top:4px solid black;
border-bottom:4px solid black;
box-shadow:0 0 10px gray;
padding:20px;
}

.logo{
font-size:45px;
color:#2e7d32;
font-weight:bold;
animation:glow 2s infinite alternate;
}

@keyframes glow{
from{ text-shadow:0 0 5px #00ff90;}
to{ text-shadow:0 0 20px #00ff90;}
}

/* MENU */

.menu button{
padding:12px 20px;
margin:10px;
border:none;
border-radius:25px;
background:#2e7d32;
color:white;
font-size:16px;
cursor:pointer;
}

.menu button:hover{
background:#1b5e20;
}

/* LOGIN */

.login-body{
background:black;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:white;
color:black;
padding:30px;
border-radius:10px;
width:300px;
box-shadow:0 0 20px gray;
}

input,select{
padding:10px;
margin:10px;
border-radius:10px;
border:1px solid gray;
}

/* BUTTON */

button{
padding:10px 20px;
border:none;
border-radius:20px;
background:#1565c0;
color:white;
cursor:pointer;
}

button:hover{
background:#0d47a1;
}

/* TABLE */

table{
width:80%;
margin:auto;
border-collapse:collapse;
background:white;
box-shadow:0 0 10px gray;
}

th,td{
border:1px solid black;
padding:10px;
}

th{
background:#2e7d32;
color:white;
}

tr:hover{
background:#f1f1f1;
}

/* WEATHER CARD */

.weather-card{
background:#e3f2fd;
border-radius:15px;
padding:20px;
width:260px;
margin:20px auto;
box-shadow:0 0 10px gray;
}

/* FOOTER */

.footer{
margin-top:40px;
background:#2e7d32;
color:white;
padding:15px;
}